.header{
background-color: white;
width: 15%;
margin: auto;
text-align: center;
border-radius: 10px;
color: rgb(9, 82, 138);

}
body{
    background-color: rgb(128, 188, 225);
}

.taskform{
    text-align: center;
}

#taskText{
    width: 50%;
    min-height: 100px; 
    max-height: 250px; 
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none; 
    overflow-y: auto; 
}
textarea{
    width: 70%;
    min-height: 90px; 
    max-height: 200px; 
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none; 
    overflow-y: auto; 
}

#submit{
    border-radius: 8px;
    background-color: #4caf50;;
    width: 8%;
    min-height: 40px;
    text-align: center;
    color: white;
    font-family: fantasy;
    font-size: medium;
    font-weight: bolder;
    cursor: pointer;
}

ul{
    list-style-type: none;
    padding-inline-start: 0px;
}
.taskList{
    text-align: center;
}